@charset "UTF-8";
    .form-container {
        max-width: 600px;
        margin: 40px auto;
    }
    .card {
        border-radius: 15px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        border-radius: 15px 15px 0 0;
        background-color: #343a40;
        color: #000;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 15px;
    }
    .card-body {
        padding: 30px;
    }