#notification-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	max-width: 90%;
	width: auto;
}

.notification-banner {
	color: white;
	padding: 15px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	font-size: 16px; /* Default font size */
}

.notification-banner.success {
	background-color: #4CAF50; /* Green */
}

.notification-banner.error {
	background-color: #F44336; /* Red */
}

.notification-banner.show {
	opacity: 1;
}

/* Media Query per dispositivi mobili */
@media (max-width: 600px) {
	#notification-container {
		bottom: 10px;
		right: 10px;
		left: 10px; /* Centra il banner orizzontalmente */
	}

	.notification-banner {
		padding: 10px;
		font-size: 14px; /* Meglio che sia rimpicciolito anche lui */
	}
}