<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ProjectTSW</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/storage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>CatalogoControl</servlet-name>
    <servlet-class>control.CatalogoControl</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogoControl</servlet-name>
    <url-pattern>/Catalogo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ProdottoControl</servlet-name>
  <servlet-class>control.ProdottoControl</servlet-class>
  </servlet>
	<servlet-mapping>
	<servlet-name>ProdottoControl</servlet-name>
	<url-pattern>/Prodotto/*</url-pattern>
	</servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>control.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/Prodotto/*</url-pattern>
  </servlet-mapping>
 
 <!-- volevo fare 3 jsp separate, ma ho fatto generare il codice per un sola capace di gestire tutto e senza stampe di 'segreti vari' -->
 
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>java.lang.Throwable</error-code>
    <location>/error.jsp</location>
  </error-page>
 
  <filter>
    <filter-name>UserSessionFilter</filter-name>
    <filter-class>control.UserSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserSessionFilter</filter-name>
    <url-pattern>/AdminControl/*</url-pattern>
    <url-pattern>/Checkout/*</url-pattern>
    <url-pattern>/Account/*</url-pattern>
  </filter-mapping>
</web-app>